*{
	margin:0;
	padding:0;
  list-style-type: none;
	font-family:sans-serif;
}

.title{
	color:#8DC640;
}

p{
	color:#828282;
}

button{
	width:150px;
	padding:20px;
	border-radius:5%;
	border:none;
	background-color:black;
	color:white;
}


.top-header{
	padding-top:100px;
	display:flex;
	justify-content:center;
}

/*					Panels				*/

.panel{
	padding-top:150px;
	display:flex;
	justify-content:space-around;
}

.ilustration{
	width:405px;
	height:158px;
}

.subsection{
	width:250px;
}

.subsection > .ilustration {
	padding-top: 20px;
}
